<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bonnie.hamiltontix</string>

  <key>ProgramArguments</key>
  <array>
	<string>/Users/bonnie/src/hamilton/auto_lottery.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>11</integer>
      <key>Minute</key>
      <integer>15</integer>
    </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/Users/bonnie/src/hamilton/logfile</string>

  <key>StandardOutPath</key>
  <string>/Users/bonnie/src/hamilton/logfile</string>
</dict>
</plist>
